{% extends 'base.html' %}

{% block title %}
    {{ article.id }} Article
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">{{ article.text }}</p>
            <a class="btn btn-warning" href="{{ url_for("blog.update_article", id_=article.id) }}">Update</a>
            <a class="btn btn-danger" href="{{ url_for("blog.delete_article", id_=article.id) }}">Delete</a>
        </div>
        <a href="/articles" class="btn btn-outline-secondary">All Articles</a>
    </div>

{% endblock %}