{% extends 'base.html' %}

{% block title %}
    Create article
{% endblock %}

{% block content %}
    <form method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            {% if article %}
                <input type="text" class="form-control" id="title" name="title"
                        {% if article %}
                       value="{{ article.title }}"
                        {% endif %}>
            {% else %}
                <input type="text" class="form-control" id="title" name="title">
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">Text</label>
            <textarea class="form-control" id="article-text" rows="3" name="text">
{% if article %}{{ article.text }}{% endif %}</textarea>
        </div>
        <button type="submit" class="btn btn-success">
            {% if article %}
                Update
            {% else %}
                Create
            {% endif %}
        </button>
        <button type="reset" class="btn btn-light">Clear</button>
        <a class="btn btn-secondary"
        {% if article %}
            href="{{ url_for("blog.get_article", id_=article.id) }}"
        {% else %}
            href="{{ url_for("blog.get_articles") }}"
        {% endif %}
        >Cancel</a>
    </form>
{% endblock %}
