{% extends 'base.html' %}

{% block title %}
    Create article
{% endblock %}

{% block content %}
    <form method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">Text</label>
            <textarea class="form-control" id="article-text" rows="3" name="text"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
        <button type="reset" class="btn btn-outline-secondary">Clear</button>
    </form>
{% endblock %}
